@import "tailwindcss";

.animation-fade-in {
  animation: fadeIn 2s ease-in-out;
}
.animation-slide-in {
  animation: slideIn 1.5s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  padding-right: 50px;
  margin-right: 20px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #15803d;
}

.home-header {
  font-weight: bold;
  font-size: 24px;
  background: linear-gradient(to right, rgb(4, 165, 4), rgb(0, 102, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.serach-bar-text {
  color: black;
}
